* {
  box-sizing: border-box;
} 

@font-face {
  font-family: "Arvo";
  src: local("Arvo"), 
  url("../fonts/Arvo/Arvo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald"),
  url("../fonts/Oswald/Oswald-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Girassol";
  src: local("Girassol"),
  url("../fonts/Girassol/Girassol-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Cinzel";
  src: local("Cinzel"), 
  url("../fonts/Cinzel/Cinzel-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
  url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
}

.font-face-arv {
  font-family: "Arvo";
  font-weight: 700;
}

.font-face-osw {
  font-family: "Oswald";
  font-weight: 400;
}

.font-face-gir {
  font-family: "Girassol";
}

.font-face-Cin {
  font-family: "Cinzel";
  font-weight: 600;
}

.font-face-san {
  font-family: "OpenSans";
}

.App {
  margin: 0 auto;
  max-width: 75%;
  width: 100%;
  bottom: 0;
  text-align: center; /*Comment this out later*/
}

.menu-icon {
  margin: 0 auto;
  width: 20px;
}

.config-header {
  position: fixed;
  left: 60px;
  top: -13px;
}

.bottomside {
  position: fixed;
  top: 95px;
}

.radio-select {
  padding: 10px 30px;
  width: 300px;
}

.radio {
  float: right;
  height: 15px;
  width: 15px;
}

.config-label p {
  text-align: left;
  padding-left: 15px;
}

body {
  background-color: #1f1f1f;
  margin: auto;
}

p {
  font-family: "Arvo";
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center; 
  font-family: "Oswald";
  font-size: 30px;
}

h3 {
  color: white;
}

h4 {
  color: white;
  text-align: center; 
  font-family: "Oswald";
  font-size: 25px;
}

p {
  color: white;
  text-align: center; 
  font-family: "OpenSans";
  font-size: 23px;
}

hr {
  margin: 20px auto;
  width: 80%;
}

img {
  width: 100%;
}

.header-center {
  text-align: center;
}

.row {
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  max-width: 20%;
  padding: 10px 20px;
  color: white;
}

.section {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 20%;
  padding: 30px 10px;
  flex-grow: 1;
}

.item h2 {
  text-align: left;
}

.text-sec {
  flex-grow: 3;
}

.section p {
  text-align: justify;
  margin: -20px auto;
}

.section-left {
  float: left;
  max-width: 45%;
}

.section-right {
  float: right;
  max-width: 45%;
}

.about {
  margin: 0 auto;
  width: 80%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: black;
}

footer {
  position: absolute;
   width: 100%;
   background-color: #1F1F1F;
   color: white;
   text-align: center;
   box-shadow:  0 0 10px black;
}

.sunburstTooltip {
color:'black'; 
background-color: #e2e2e2; 
padding: 5px; 
text-align: center;
}

.graph-container {
  background-color: white;
  margin: 5px auto;
  display: flex;
  justify-content: center;
}

.menu {
  width: 20px;
  margin: 32px 25px;
  cursor: pointer;
  visibility: visible;
  z-index: 8;
}

.navbar {
  display: flex; 
  flex-wrap: wrap; 
  box-shadow:  0 0 20px black;
  position: relative;
}

.navbar h1 {
  margin: 20px auto;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: black;
  z-index: 7;
}

.topside {
  position: fixed;
  width: 300px;
  height: 76px;
  background-color: #3040B8;
}


label {
  color: white;
}

.group-container {
  margin: 50px auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-member img {
  width: 40%;
  border-radius: 50%;
}

.team-member p {
  font-size: 20px;
}

.team-member h3 {
  padding-top: 25px;
  margin: 0 auto;
  font-size: 26px;
}

.role {
  margin: 0 auto;
}

.team-member {
  color: white;
  flex-grow: 1;
  width: 32%;
  padding: 10px 15px;
  text-align: center;
  margin: 5px;
}

#one {
  flex-grow: 0;
}